@import url('./global.css');
@import url('./font.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./projects.css');

body {
  color: white;
  background-color: black;
  margin: 0 auto;
}

.main {
  margin: 0 20px;
}

.pixel_text {
  font-family: 'ComplianceSans', sans-serif;
}

.regular_text {
  font-family: sans-serif;
  font-weight: 100;
}

.description-text {
  line-height: 150%;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
}

.title-text {
  line-height: 200%;
}

.upper_text {
  text-transform: uppercase;
}

#profession {
  font-size: clamp(1.25rem, 0.568rem + 3.41vw, 3.125rem);
  margin-left: 5px;
}

#fio {
  font-size: clamp(1.75rem, 1.023rem + 3.64vw, 3.75rem);
  margin: 5px;
}

.section_title {
  font-size: 32px;
}

.article-title {
  font-size: 40px;
}

ul {
  list-style-image: url('../images/dot.png');
  margin-left: 2rem;
}

#title-section {
  border-bottom: 1px solid white;
}

#photo {
  border: 1px solid white;
  border-radius: 10px;
  margin: 10px;
  grid-row: 1 / span 2;
}

#my-photo {
  background-image: url('../images/photo_2025-04-04_16-01-18.jpg');
  background-position: center 25%;
  background-size: cover;
  width: 90%;
  height: clamp(15.625rem, 8.807rem + 34.09vw, 34.375rem);
  margin: 0 auto;
}

#photo-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  padding: 5px;
}

#line {
  background-image: url('../images/line.svg');
  background-size: cover;
  width: 20px;
  height: 20px;
}

#cross {
  background-image: url('../images/cross.svg');
  width: 20px;
  height: 20px;
  background-size: cover;
}

#photo-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

#about-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

#characteristics {
  grid-column: 2 / 3;
  grid-row: 2/3;
}

.button-text {
  color: white;
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  padding: 5px 10px;
  transition: color 0.5s ease-in-out;
}

.button {
  display: inline-block;
  position: relative; 
  overflow: hidden;
  border: #B4E52E 2px solid;
  transition: background-color 0.5s ease-in-out;
  transform: perspective(1px) translateZ(0);
  background-color: black;
  margin-top: 5px;
}

.button::before {
  content: "";
  position: absolute;
  background: #B4E52E;
  inset: 0;
  translate: -100%;
  transition: translate 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  translate: 0%;
}

.button:hover .button-text{
  color: black; 
  mix-blend-mode: normal;
} 

.button:not(:last-child) {
  margin-right: 20px;
}

.project-description {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
}

.project-cover {
  width: clamp(17.5rem, 10.227rem + 36.36vw, 37.5rem) ;
  height: clamp(12.5rem, 7.955rem + 22.73vw, 25rem);
  background-size: cover;
  background-position: center;
  grid-column: 2;
}

#ono-tebe-nado {
  background-image: url('../images/ono-tebe-nado.jpg');
}

#slozhno-sosredotochitsya {
  background-image: url('../images/slozhno-sosredotochitsya.jpg');
}

#zakrivayuschiy-teg-f {
  background-image: url('../images/zakrivayuschiy-teg-f.jpg');
}

#mesto {
  background-image: url('../images/mesto.jpg');
}

#web-larek {
  background-image: url('../images/web-larek.jpg');
}

#kouluttaa {
  background-image: url('../images/kouluttaa.jpg');
}

.project-text {
  grid-column: 1;
  grid-row: 1;
}

.project:not(:last-child) {
  margin-bottom: 15px;
}

@media (width < 768px) {
  #about-article {
    display: flex;
    flex-direction: column;
  }

  .progress {
    width: 80%;
  }

  .project-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
